ms/
me/
vs/
ve/
es/
ee/
tests/
vampire_rel
eprover
probgen.pl
probsel.pl
solgen.pl
proofgen.pl
checkall.pl
soltime.pl
trim.pl
mv_nc.pl
debug.pl
proof_trace.pl
sol_trace.pl
sol_debug.pl
test.pl
ttc
ttv