vsol/
vprf/
esol/
eprf/
paths.pl
proof_trace.pl
sol_trace.pl
test.pl
log
basic/target/
tptp/target/
tts/target/
rttv/target/
esol_bak/
vsol_bak/
vsol/
esol/
MAlonzo/
*.agdai
pttv
attv
folders.pl
folders.rs