

TPTP : v7.4.0


DRAT-trim : d13f761fbdacd052429f14421f95a7e8cd75deb1
cadical : c622a490ec3d9a1a1e998b08120c9b8d0b67a123


SWI-Prolog : version 8.2.1 for x86_64-linux
Agda : version 2.6.2-08191e6
rustc : 1.47.0 (18bf6b4f0 2020-10-07)